.flex-hide {
  display: none !important;
}

.s-flex-show {
  display: none !important;
}

@media (max-width: 768px) {
  .s-label-hide {
    display: none;
  }
}

@media (max-width: 1440px) {
  .l-flex-hide { display: none !important; }
  .l-flex-show { display: flex !important; }
}

@media (max-width: 1024px) {
  .m-flex-hide { display: none !important; }
  .m-flex-show { display: flex !important; }
}

@media (max-width: 768px) {
  .s-flex-hide { display: none !important; }
  .s-flex-show { display: flex !important; }
}

@media (max-width: 480px) {
  .xs-flex-hide { display: none !important; }
  .xs-flex-show { display: flex !important; }
}